/* --Montserrat */

@font-face{
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/Montserrat-Regular.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'Montserrat Light';
	src: url('../fonts/montserrat/Montserrat-Light.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'Montserrat Medium';
	src: url('../fonts/montserrat/Montserrat-Medium.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'Montserrat SemiBold';
	src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'Montserrat Bold';
	src: url('../fonts/montserrat/Montserrat-Bold.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'Montserrat Italic';
	src: url('../fonts/montserrat/Montserrat-Italic.ttf');
	font-style: normal;
	font-weight: normal;
}

/* --/Montserrat */


/* --Roboto */

@font-face{
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Regular.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'Roboto Medium';
	src: url('../fonts/roboto/Roboto-Medium.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'Roboto Bold';
	src: url('../fonts/roboto/Roboto-Bold.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'Roboto Italic';
	src: url('../fonts/roboto/Roboto-Italic.ttf');
	font-style: normal;
	font-weight: normal;
}

/* --/Roboto */