body {
    color: #2F3236;
    font: 15px/25px 'Roboto', sans-serif;
    overflow-y:  hidden;
}

h1 {
    font-family: 'Montserrat';
    font-size: 60px;
    line-height: 70px;
}
h3 {
    font-family: 'Montserrat';
    font-size: 36px;
    line-height: 45px;
}
h6 {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 26px;
}
p {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 27px;
}

h1,h3,h6,p {
    width: 100%;
}


@include respond-to('tablet') {
    h1 {
        font-size: 45px;
        line-height: 55px;
    }
    h3 {
        font-size: 25px;
        line-height: 40px;
    }
    h6 {
        font-size: 13px;
        line-height: 23px;
    }
    p {
        font-size: 16px;
        line-height: 25px;
    }
}

@include respond-to('xs-phone') {
    h1 {
        font-size: 36px;
        line-height: 45px;
    }
    h3 {
        font-size: 21px;
        line-height: 30px;
    }
    h6 {
        font-size: 12px;
        line-height: 22px;
    }
    p {
        font-size: 14px;
        line-height: 21px;
    }
}


.content-wrapper {
    padding-top: 45px;
}

//--------------------------
//------Buttons & a---------

.mobileApp{
    flex:1;
    &:first-of-type{
        margin-right: 7.4%;
        @media (max-width: 768px)
        {
            margin-right: 0%; 
            margin-bottom: 18px; 
        }
    }
    button{
        width: 100%;
        margin-right: 0px !important;
        margin-right: 0px !important;
    }
}

button {
    font-family: 'Roboto Medium';
    font-size: 15px;
    line-height: 18px;
}

.easy-btn {
    color: #2F3236;
    background-color: #D8AD4C;
    border: 0;
    border-radius: 30px;
    padding: 13px 24px;
    min-width: 160px;
    cursor: pointer;
    transition: 0.2s linear;
}
.easy-btn:hover {
    box-shadow: 0px 10px 16px -2px rgba(199, 169, 105, 0.7);
}
.easy-btn:active {
    background-color: #A28A55;
}

.transp-btn, .transp-btn-not-active{
    background-color: transparent;
    color: #D8AD4C;
    border: 2px solid #D8AD4C;
    border-radius: 30px;
    padding: 11px 25px;
    transition: 0.2s linear;
}
.transp-btn {
    cursor: pointer;
    &:hover {
        background-color: rgba(216, 174, 76, 0.25);
    }
    &:active {
        background-color: rgba(216, 174, 76, 0.15);
    }
}
.transp-btn-not-active {
    color: #888888;
    border: 2px solid #888888;
}

a {
    color: #3F5193;
    &:active {
        color: #27366E;
    }
}
a.none-underline {
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
    &:active {
        color: #27366E;
    }
}
//------/Buttons & a---------
//--------------------------

//--------------------------
//------Preloader---------
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

.preloader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
  z-index: 10;
  .container {
    margin: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-one-coin {
    margin-bottom: 16px;
    animation: loader-animation 2s linear infinite;
  }

  .loading-text span {
    display: inline-block;
    margin: 0 5px;
    color: #2F3236;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 18px;
  }
  .loading-text span:nth-child(1) {
    filter: blur(0px);
    animation: blur-text 1.5s 0s infinite linear alternate;
  }
  .loading-text span:nth-child(2) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.2s infinite linear alternate;
  }
  .loading-text span:nth-child(3) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.4s infinite linear alternate;
  }
  .loading-text span:nth-child(4) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.6s infinite linear alternate;
  }
  .loading-text span:nth-child(5) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.8s infinite linear alternate;
  }
  .loading-text span:nth-child(6) {
    filter: blur(0px);
    animation: blur-text 1.5s 1s infinite linear alternate;
  }
  .loading-text span:nth-child(7) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.2s infinite linear alternate;
  }
}

@keyframes loader-animation {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}






//------/Preloader---------
//--------------------------

//fixed adminbar in mobile view
#wpadminbar{
    position: fixed !important;
}

//--swiper-fixed
.swiper-container>i {
    display: none;
}
//--/swiper-fixed


//------------timer & progressbar start---------------
.email{
    border: 1px solid#9FA1A2;
    color: black;
    background-color: #FFFFFF;
    font-family: Roboto;
    transition: 0.2s linear;
}
.email:hover{
    border: 1px solid #707171;
}
.email:active{
    border: 1px solid #2F3236;
}
.timer-block{
    .small-text{
        color: #2F3236 !important;
    }
    .descr{
        color: #2F3236 !important;
    }
    .numb{
        font-family: 'Montserrat' !important;
        color: #2F3236 !important;
    }
    .separator{
        height: 18px;
        margin: 0px 15px;
        background-color: #2F3236;
        width: 2px;
    }
    .colon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 30px;
        margin: 0px 10px;
        .doto{
            width: 6px;
            height: 6px;
            border-radius: 6px;
            border: solid 2px #2F3236;
        }
    }
    @media(max-width: 525px){
        .separator{
            height: 13.21px;
            margin: 0px 10px;
        }
        .item{
            display: flex;
            flex-direction: column;
        }
        .colon {
            height: 20px;
            margin: 0px 10px;
            margin-bottom: 13px;
            .doto{
            max-width: 4.26px;
            max-height: 4.26px;
            width: unset;
            height: unset; 
            border-radius: 4.26px;
            }
        }
    }
}
.progressbar{
    .progress{
        color: #3F5193;
        background-color: #F7F7F7;
        border: #3F5193 1px solid;
        // overflow: hidden;
        font-family: Roboto;
    }
    .pointer{
        margin-top: -16px!important;
        background-color: #3F5193;
    }
    .bar{
        background-color: rgba(63, 81, 147, 0.3);
    }
    .members{
        color: #7385C9;
        font-family: Roboto;
    }
}
//------------timer & progressbar end---------------



//-----------------------
//--------Header--------

h1.widget-title{
    display: none;
}
.header{
    z-index: 5;
    position: fixed;
    padding: 0px 16px;
    padding-top: 10px;
    margin: 0;
    height: auto;
    background-color: #2F3236;
    margin-top: -1px;
    width: 100%;
    .wraper-container{
        width: 100%;
        margin: 0;
        height: auto;
        max-width: 1248px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #2F3236;
        text-align: center;

    #qtranslate-2{
        .www{
            width: 20px;
            display: block;
            padding: 2px;
            @media(max-width:425px){
                display: none !important;
            }
        }
        .menu-dot{
            display: inherit;
            width: 2px;
            height: 2px;
            background: #FFFFFF;
            transition: 0.2s linear; 
            margin-right: 3px;   
        }
        .lang-list-item{
            display: list-item;
            list-style-type: none;
        .languages-menu-list{
            display: list-item;
            width: 100%;
            list-style-type: none;
            position: absolute;
            left: 0;
            background-color: #fff;
            margin-top: 9px;
            z-index: 3;     
            height: auto;
            box-shadow: 0 -3px 50px 0 rgba(0,0,0,.75);
            #qtranslate-2-chooser{
                width: 242px;
                height: 101px;
                margin: auto;
                display: flex !important;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                transition: .3s linear;
                max-height: 0px;
                opacity: 0;
                flex-wrap: nowrap;
                overflow: hidden;
                @media(max-width: 745px){
                    max-width: calc(100% - 32px);
                }
                li{
                    height: 101px;
                    display: flex;
                    padding-top: 20px;
                    border-bottom: #fff 2px solid;
                    min-width: 60px;
                    justify-content: center;
                    a{
                        color: #2F3236;
                        text-decoration: none;
                        font-size: 12px; 
                        line-height: 16px;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        p {
                            font-size: 10px;
                            line-height: 14px;
                            opacity: 0;
                        } 
                    }
                    .soon-lang{
                        span, p{
                            opacity: .54 !important;
                        }
                    }
                }
                li:hover{
                    border-bottom: #D8AD4C 2px solid;
                }
                .active{
                    display: none;
                }
            }
        }}
    }
    #qtranslate-2:hover{
        .www{
            opacity: .54;
        }
        select{
            opacity: .54;
        }
        .menu-dot{
            opacity: .54;
        }
        #lang-open{
            cursor: pointer;
        }
    }
    .lang-open:hover{
        .menu-dot{
            opacity: 1 !important;
        }
    }
    .lang-open{
        .menu-dot{
            background: #C7AA69 !important;
        }
        .www{
            opacity: .54;
        }
        .lang-list-item{
            .languages-menu-list{
                transition: .3s linear;
                #qtranslate-2-chooser{
                    max-height: 101px !important;
                    transition: .3s linear !important;
                    opacity: 100 !important;
                }
            }
        }
        #qtranxs_select_qtranslate-2-chooser{
        color: #fff;
        }
        select{
            opacity: 0.54;
        }
    }
    .active-page{
        color: #D8AD4C;
    }
    .custom-logo{
        .logo{
            width: 130px;
            height: 30px;
            background-image: url(/wp-content/uploads/2018/04/main-logo.svg);
            background-repeat: no-repeat;
            transition: .2s linear;
        }
        // .logo:hover{
        //     background-image: url(/wp-content/uploads/2018/01/main-logo-active.png);
        // }
    }
    .reg-box{
        display: list-item;
        list-style-type: none;
        .reg-menu{
            left: 0;
            margin-top: 25px;
            -webkit-box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.75);
            width: 100%;
            position: absolute;
            background: white;
            transition: .4s linear;
            max-height: 0px;
            opacity: 0;
            overflow: hidden;


            .gen-form {
                width: 500px;
                padding-top: 30px;
                .nf-form-cont .nf-response-msg>p {
                    color: #2F3236;
                }

                .nf-form-cont nf-fields-wrap{
                    display: flex;
                    flex-wrap: wrap;
                    &>nf-field:first-child{
                        flex: 1;
                        margin-right: 32px;
                        input {
                            border-radius: 40px;
                            height: 44px;
                            padding-left: 15px;
                            font-size: 14px;
                        }
                        .nf-after-field .nf-error-msg {
                            margin-left: 15px;
                            margin-right: 0;
                            text-align: left;
                        }
                    }
                    &>nf-field:last-child{
                        input {
                            height: 44px;
                            font-family: 'Roboto Medium';
                            font-size: 15px;
                            width: 100%;
                        }
                    }
                }
                @include respond-to('desktop'){
                    padding-top: 22px;
                    padding-left: 15px;
                    padding-right: 15px;
                    width: 100%;
                    border-bottom: 1px solid #95989A;
                    background-color: #F7F7F7;
                }
                @include respond-to('phone'){
                    .nf-form-cont nf-fields-wrap>nf-field:first-child {
                        margin-right: 0;
                        width: 100%;
                        flex: none;
                    }
                    .nf-form-cont nf-fields-wrap>nf-field:last-child {
                        width: 100%;
                    }
                }
                
                .nf-form-cont .nf-after-form-content {
                    display: none;
                }
            }


            .timer-wrapper{
                display: flex;
                flex-wrap: wrap;
                margin: 0 auto;
                max-width: 1248px;
                padding-left: 15px;
                padding-right: 15px;
                @include respond-to('desktop'){
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            .time-info{
                display: flex;
                align-items: center;
                justify-content: center;
                height: auto;
                margin-right: auto;

                @include respond-to('desktop'){
                    margin-left: auto;
                    order: 2;
                }

                .time{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    color: #2F3236;
                    margin: 15.1px;
                    margin-top: 13px;
                    margin-bottom: 15.1px;
                    margin-left: 0px;
                    .small-text{
                        font-size: 12px;
                        line-height: 18px;
                        font-family: Roboto;
                    }
                    .timer-block{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-around;
                        width: 100%;
                        width: -webkit-fill-available;
                        width: -moz-available;
                        .item{
                            width: 46px;
                            .numb{
                                font-size: 36px;
                                line-height: 36px;
                            }
                        }
                        .colon{
                            height: 19px;
                            margin-bottom: 17px !important;
                            .doto{
                                width: 4px;
                                height: 4px;
                                border-radius: 4px;
                                border: 1px solid #2F3236;
                            }
                            @media (max-width: 525px){
                                .doto{
                                    max-width: 2px;
                                    max-height: 2px;
                                    border-radius: 2px;
                                    border: 2px solid #2F3236;
                                }   
                            }
                        }   
                        .separator{
                            margin-bottom: 15px !important;
                        }                     
                    }
                }
                .info{
                    cursor: pointer;
                    margin-left: 18.1px;
                    width: 20px;
                    height: 20px;
                    display: none;
                }
            }
            .prog-bar-visible{
                display: block!important;
                max-height: 88px!important;
                opacity:100 !important;
                margin-bottom: 35px;
            }
            .progressbar{
                position: relative;
                order: 3;
                margin-bottom: calc((100vh - (173.5px + 50.5px + 118px + 77px)) / 2);
                .progress {
                    width: calc(100vw - 32px);
                    height: 31px;
                    border-radius: 31px;
                    margin-bottom: 6px;
                    font-size: 12px;
                    margin-left: auto;
                    margin-right: auto;
                    // overflow: hidden;
                    .percent50 {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 33.3%;
                        height: 31px;
                        border-right: 1px solid #95989A;
                    }
                    .percent30{
                        position: absolute;
                        padding-left: 33.3%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 66.6%;
                        height: 31px;
                        border-right: 1px solid #95989A;
                    }
                    .percent15{
                        position: absolute;
                        padding-left: 66.6%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 31px;
                    }
                    .bar {
                        height: 31px;
                        .pointer{
                            position: absolute;
                            margin-right: 0 !important;
                            margin-bottom: 0 !important;
                            width: 7px;
                            height: 7px;
                            transform: rotate(45deg);
                        }
                    }
                  }
                  .members{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: calc(100vw - 32px);
                    font-size: 12px;
                    margin-bottom: 16px;
                    margin-left: auto;
                    margin-right: auto;
                    .first{
                        text-align: left;
                    }
                    .last{
                        text-align: right;
                    }
                    span{
                        width: 27px;
                        line-height: 12px;
                        text-align: center;
                    }
                  }
            }

        }
    }
    .open-reg-menu{
        transition: .4s linear;
        max-height: 700px !important;
        opacity: 100 !important;
    }
    #qtranslate-2{
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 48px;
        overflow: hidden;
        cursor: pointer;
        .sec-lang-bl{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        .select-wrap{
            overflow:  hidden;
            .lang-opener{
                position: absolute;
                width: 48px;
                height: 32px;
                z-index: 10;
                @media(min-width: 426px){
                    width: 36px;
                }
            }
        }
        #qtranxs_select_qtranslate-2-chooser{
            cursor: pointer;
            padding: 0 10px;
            display: flex;
            align-items: center;
            min-height: 29px;
            @media(min-width: 426px){
                padding: 0 2.5px;
            }
        }
    }
    #qtranxs_select_qtranslate-2-chooser{
        height: 29px;
        color: #fff;
        overflow: hidden;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-family: Roboto;
        font-size: 14px;
        border: none;
        background:#2F3236;  
    }
    #qtranxs_select_qtranslate-2-chooser::-ms-expand {
        display: none;
    }
    .menu-topmenu-container{
        order: 3;
        width: 100vw;
        width: -webkit-fill-available;
        width: -moz-available;
        justify-content: center;
        display: flex;
        margin: 0px;
        margin-top: 10.5px;
        border-top: 1px solid rgba(149, 152, 154, 0.3);
    .menu{
        align-items: center;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-padding-start: 0;
        flex-wrap: wrap;
        width: 100vw;
        width:  -webkit-fill-available;
        width: -moz-available;
        .to-start{
            .header-swiper{
                .sub-menu{
                    justify-content: space-between;
                    margin: 0 auto;
                    width: 422px;
                    li{
                        max-width: 95px !important;
                        min-width: 95px !important;
                    }
                }
            }
        }
        .sub-slide{
            height: unset !important; 
            width: unset !important; 
        } 
        @media (max-width:538px) {
            .to-start{
                .sub-menu{
                    justify-content: unset;
                }
            }
        }
        @media (max-width:756px) {
            .to-know{
                .sub-menu{
                    justify-content: unset;
                }
            }
        } 
        .sub-menu{
            flex-wrap: nowrap;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            .active{
                opacity: 1 !important;
            }
        }
        .header-swiper{
            transition: .4s linear;
            max-height: 0px;
            overflow: hidden;
            left: 0;
            margin-top: 8px;
            padding-left: calc((100% - 784px) / 2);
            padding-right: calc((100% - 784px) / 2);
            position: absolute;
            background: white;
            width: 100%;
            opacity: 0;
            -webkit-box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.75);
            .swiper-button-disabled{
                display: none !important;
            }
            .hed-right{
                background-color: rgba(255, 255, 255, 0.8);
                position: absolute;
                left: 0px;
                color: #2F3236;
                font-size: 11.11px;
                z-index: 100;
                display: none;
                height: 73%;
                align-items: center;
                margin: 1em 0;
                padding: 0 5px;
                border-right: rgba(149, 152, 154, 0.54) solid 1px;
            }
            .hed-left{
                background-color: rgba(255, 255, 255, 0.8);
                position: absolute;
                right: 0px;
                color: #2F3236;
                font-size: 11.11px;
                z-index: 100;
                display: none;
                height: 73%;
                align-items: center;
                margin: 1em 0;
                padding: 0 5px;
                border-left: rgba(149, 152, 154, 0.54) solid 1px;
            }
            @media (max-width:800px) {
                .hed-right{
                    display: flex;
                }
                .hed-left{
                    display: flex;
                }
            }
        }
        .open-drop-down{
            max-height: 125px;
            transition: 0.3s linear;
            overflow: hidden;
            flex-wrap: nowrap;
            justify-content: unset;
            opacity: 100;
            li{
                min-width: 150px;
                max-width: 150px; 
                a{
                color: #2F3236;
                }
            }
        }
        .swiper-wrapper{
            height: 115px!important;
            
        }
        .menu-item{
            color: white;
            margin: 10.5px 5px;
            font-size: 12px;
            transition: 0.2s linear;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: 0.2s linear;
                .menu-dot{
                    display: inherit;
                    width: 2px;
                    height: 2px;
                    background: #FFFFFF;
                    transition: 0.2s linear;
                }
            }
            .know-item{
                color: #2F3236;
                transition: 0.2s linear;
                padding: 15px 0px;
                border-bottom: #fff 2px solid;
                height: 100%;
                .ring{
                    border: none;
                }
            }
            .active-page{
                color: #D8AD4C !important;
            }
            .start-item{
                color: #2F3236;
                transition: 0.2s linear;
                padding: 20px 0px;
                border-bottom: #fff 2px solid;
                height: 100%;
                .ring{
                    border: none;
                }
            }
            .know-item:hover, .start-item:hover{
                border-bottom: #D8AD4C 2px solid;
            }
            .know-item:active, .start-item:active{
                background-color: #F7F7F7;
                border-bottom: #D8AD4C 2px solid;

            }
        }
        .menu-item:hover #menu-link-76, .menu-item:hover #menu-link-17, .menu-item:hover #menu-link-45{
            color: rgba(255, 255, 255, 0.54);
            .menu-dot{
                opacity: 0.54;
            }
        }
        .menu-item:active #menu-link-76, .menu-item:active #menu-link-17, .menu-item:active #menu-link-45{
            color: rgba(255, 255, 255, 0.54);
            .menu-dot{
                opacity: 0.54;
            }
        }
        .menu-item{
            .link-active{
                color: rgba(255, 255, 255, 0.54);
                .menu-dot{
                    background: #C7AA69;
                    opacity: 1 !important;
                }
            }
        }
        .menu-item a{
        color: white;
        cursor: pointer;
        text-decoration: none;
        font-size: 14px;
        font-family: Roboto;
      }
    }    
}
    .custom-logo{
        display: flex;
        order: 1;
    }
    .header-sidebar{
        order: 2;
        color: white;
        font-family: Roboto;
        display: flex;
        text-align: center;
        align-items: center;
        .progressbar{
            .pointer{
                display: none;
            }
        }
        .prog-bar-visible{
            .pointer{
                display: block !important;
            }
        }
        #header-btn{
            position: relative;
            height: 30px;
            width: 120px;
            border-radius: 30px;
            font-size: 14px;
            margin-left: -2px;
            margin-top: -2px;
            padding: 0px !important;
            position: relative;
            .close{
                -webkit-transition: width 1s;
                transition: width 1s;
                width: 9.07px;
                height: 9.07px;
                display: none;
            }
            span{
                display: inline;
            }
        }
        .btn-background{
            width: 120px;
            height: 30px;
            border-radius: 30px;
            background-color: transparent;
            border: 2px solid rgba($color: white, $alpha: .3);
            color: rgba($color: white, $alpha: .3);
        }
    }


.i-want-to-start, .i-want-to-know{
display: none;
}
.arrow-rev{
    padding-right: 9px;
    padding-left: 0px !important;
    transform: rotate(180deg);
}
.i-want-to{
    -webkit-box-shadow: 0px -3px 50px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -3px 50px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -3px 50px 0px rgba(0,0,0,0.75);
    margin-bottom: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
}
.start-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap
}
.know-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap
}
.start-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.know-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.soon{
    opacity: 0.5;
    .soon-par{
        font-size: 10px!important;
        line-height: 14px!important;
    }
}
.start-item p{
    font-size: 12px !important;
    line-height: 18px !important;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
.know-item p{
    font-size: 12px !important;
    line-height: 15px !important;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
.ring{
    margin-bottom: 8px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        min-width: 30px;
        max-width: 30px;
        height: 30px;
    }
    .active-img{
        filter: invert(50%) sepia(300%) saturate(300%);
    }

}
.visible{
    display: none !important;
}
.menu-main-header-container{
margin: auto;
}
}}
.backghound-shadow{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    border: 1px solid #95989A;
    display: none;
    opacity: 0;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: -1;
}

@media (min-width: 769px){
.open-drop-down{
    justify-content: space-around!important;
    }
}
@media (min-width: 745px){
    .header{
        padding: 0;
        width: 100%;
        .wraper-container{
            height: 50px;
            max-width: 1248px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 16px;
    .custom-logo {
        order: 1;
    }
    .menu-topmenu-container{
        order: 2;
        width: 292px;
        margin: 0px;
        border-top: none;
    }
    .header-sidebar { 
        order: 3;
        .btn-background{
            margin-left: 29.9px;
        }
    }
}
.reg-box{
    .reg-menu{ 
        .progressbar{
            .progress{
                width: calc(100vw - 64px);
                max-width: 1228px;
                position: relative;
            }
            .members{
                width: calc(100vw - 64px);
                max-width: 1228px;
            }
        }
    }
}
}
}
@media (max-width:580px){
.visible{
    display: block !important;
    -webkit-transition: .4s !important;
    transition: .4s !important;
    z-index: 2 !important;
    opacity: 0.34 !important;
}}
@media (min-width: 426px) {
    .header{
        .wraper-container{
        .active{
            opacity: .54;
        }
        .menu-topmenu-container{
        .menu { 
            margin: 0;
            width: 100%;
            max-width: 1280px;
            margin-right: auto;
            .menu-item{
                margin: 10.5px 6px;
                }
        }
       
        }
        .i-want-to-start, .i-want-to-know{
            height: 6.11px;
            padding-left: 9px;
            display: inherit;
        }

        .header-swiper{
            margin-top: 11px !important;
        }
        .reg-box{
            .reg-menu{ 
                .time-info{
                    .info{
                        display: block;
                    }
                }
                .reg-separator{
                    width: 100vw;
                    height: 1px;
                    background-color: #95989A;
                    order: 3;
                    transition: .2s linear;
                    max-height: 0;
                    opacity: 0;
                    overflow: hidden;
                    @include respond-to('desktop'){
                        background-color: transparent;
                    }
                }
                .progressbar{
                    margin-bottom: 0px;
                    transition: .4s linear;
                    max-height: 0;
                    opacity: 0;
                    .progress{
                        width: calc(100vw - 64px);
                        max-width: 1228px;
                        height: 33px;
                        border-radius: 33px;
                        margin-bottom: 8px;
                        font-size: 14px;
                        position: relative;
                    }
                    .members{
                        margin-bottom: 15px;
                        font-size: 14px;
                        width: calc(100vw - 64px);
                        max-width: 1228px;
                    }
                }
            }
        }
        }
    }
}
//--------/Header--------
//-----------------------



//----------------------
//--------Footer--------
.footer {
    background-color: #F7F7F7;
    .container {
        max-width: 1248px;
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .footer-row1 {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #95989A;
        // padding-bottom: 12px;
        .f-logo {
            margin-bottom: 15px;
            margin-right: auto;
            img {
                width: 80px;
                height: 30px;
            }
        }
        .footer-menu {
            margin-left: 40px;
            display: flex;
            flex-wrap: wrap;
            li {
                margin-left: 36px;
                &:first-of-type{
                    margin-left: 0;
                }
            }
            a {
                color: #000;
                font-family: 'Roboto';
                font-size: 14px;
                text-decoration: none;
                &:hover {
                    color: #3F5193;
                }
                &:active {
                    color: #27366E;
                }
            }
        }
    }
    .footer-row2 {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-top: 15px;
        .copyright {
            font-family: 'Roboto';
            font-size: 12px;
            width: 340px;
            
        }
        .massagers,.social {
            display: flex;
            img {
                height: 22px;
            }
            i {
                color: #3F5193;
                font-size: 25px;
            }
            a {
                margin-left: 25px;
                margin-top: 7px;
                margin-bottom: 2px;
                position: relative;
            }
            a:before {
                content: "";
                width: 40px;
                height: 40px;
                position: absolute;
                border-radius: 20px;
                margin-top: -20px;
                margin-left: -20px;
                top: 40%;
                left: 50%;
                
            }
            a:hover:before {
                background-color: rgba(63, 81, 147, 0.2);
            }
            a:active:before {
                background-color: rgba(63, 81, 147, 0.4);
            }
        }
        .massagers {
            margin-left: auto;
            border-right: 1px solid #95989A;
            a {
                margin-right: 25px;
            } 
        }
        @media(max-width: 1366px){
            .social {
                margin-right: 85px; 
            }
        }
  
    }


    @include respond-to('large-desktop') {
        .container {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    @media only screen and (max-width: 1050px) {
        flex-grow: 1;
        justify-content: space-between;
        .footer-row1 .footer-menu {
            flex-direction: column;
            width: 100%;
            margin-left: 0;
            li {
                margin-left: 0;
                margin-bottom: 5px;
            }
        }
    }

    @include respond-to('tablet') {
        .footer-row2 .copyright {
            width: 100%;
            order: 1;
            margin-top: 15px;
        }

        .footer-row2 .massagers {
            margin-left: 0;
        }
    }
}
//--------/Footer--------
//----------------------
