@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #2F3236;
  font: 15px/25px 'Roboto', sans-serif;
  overflow-y: hidden; }

h1 {
  font-family: 'Montserrat';
  font-size: 60px;
  line-height: 70px; }

h3 {
  font-family: 'Montserrat';
  font-size: 36px;
  line-height: 45px; }

h6 {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 26px; }

p {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 27px; }

h1, h3, h6, p {
  width: 100%; }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 45px;
    line-height: 55px; }

  h3 {
    font-size: 25px;
    line-height: 40px; }

  h6 {
    font-size: 13px;
    line-height: 23px; }

  p {
    font-size: 16px;
    line-height: 25px; } }
@media only screen and (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 45px; }

  h3 {
    font-size: 21px;
    line-height: 30px; }

  h6 {
    font-size: 12px;
    line-height: 22px; }

  p {
    font-size: 14px;
    line-height: 21px; } }
.content-wrapper {
  padding-top: 45px; }

.mobileApp {
  flex: 1; }
  .mobileApp:first-of-type {
    margin-right: 7.4%; }
    @media (max-width: 768px) {
      .mobileApp:first-of-type {
        margin-right: 0%;
        margin-bottom: 18px; } }
  .mobileApp button {
    width: 100%;
    margin-right: 0px !important;
    margin-right: 0px !important; }

button {
  font-family: 'Roboto Medium';
  font-size: 15px;
  line-height: 18px; }

.easy-btn {
  color: #2F3236;
  background-color: #D8AD4C;
  border: 0;
  border-radius: 30px;
  padding: 13px 24px;
  min-width: 160px;
  cursor: pointer;
  transition: 0.2s linear; }

.easy-btn:hover {
  box-shadow: 0px 10px 16px -2px rgba(199, 169, 105, 0.7); }

.easy-btn:active {
  background-color: #A28A55; }

.transp-btn, .transp-btn-not-active {
  background-color: transparent;
  color: #D8AD4C;
  border: 2px solid #D8AD4C;
  border-radius: 30px;
  padding: 11px 25px;
  transition: 0.2s linear; }

.transp-btn {
  cursor: pointer; }
  .transp-btn:hover {
    background-color: rgba(216, 174, 76, 0.25); }
  .transp-btn:active {
    background-color: rgba(216, 174, 76, 0.15); }

.transp-btn-not-active {
  color: #888888;
  border: 2px solid #888888; }

a {
  color: #3F5193; }
  a:active {
    color: #27366E; }

a.none-underline {
  text-decoration: none; }
  a.none-underline:hover {
    text-decoration: underline; }
  a.none-underline:active {
    color: #27366E; }

.preloader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
  z-index: 10; }
  .preloader .container {
    margin: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .preloader .icon-one-coin {
    margin-bottom: 16px;
    animation: loader-animation 2s linear infinite; }
  .preloader .loading-text span {
    display: inline-block;
    margin: 0 5px;
    color: #2F3236;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 18px; }
  .preloader .loading-text span:nth-child(1) {
    filter: blur(0px);
    animation: blur-text 1.5s 0s infinite linear alternate; }
  .preloader .loading-text span:nth-child(2) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.2s infinite linear alternate; }
  .preloader .loading-text span:nth-child(3) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.4s infinite linear alternate; }
  .preloader .loading-text span:nth-child(4) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.6s infinite linear alternate; }
  .preloader .loading-text span:nth-child(5) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.8s infinite linear alternate; }
  .preloader .loading-text span:nth-child(6) {
    filter: blur(0px);
    animation: blur-text 1.5s 1s infinite linear alternate; }
  .preloader .loading-text span:nth-child(7) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.2s infinite linear alternate; }

@keyframes loader-animation {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }
@keyframes blur-text {
  0% {
    filter: blur(0px); }
  100% {
    filter: blur(4px); } }
#wpadminbar {
  position: fixed !important; }

.swiper-container > i {
  display: none; }

.email {
  border: 1px solid #9FA1A2;
  color: black;
  background-color: #FFFFFF;
  font-family: Roboto;
  transition: 0.2s linear; }

.email:hover {
  border: 1px solid #707171; }

.email:active {
  border: 1px solid #2F3236; }

.timer-block .small-text {
  color: #2F3236 !important; }
.timer-block .descr {
  color: #2F3236 !important; }
.timer-block .numb {
  font-family: 'Montserrat' !important;
  color: #2F3236 !important; }
.timer-block .separator {
  height: 18px;
  margin: 0px 15px;
  background-color: #2F3236;
  width: 2px; }
.timer-block .colon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  margin: 0px 10px; }
  .timer-block .colon .doto {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    border: solid 2px #2F3236; }
@media (max-width: 525px) {
  .timer-block .separator {
    height: 13.21px;
    margin: 0px 10px; }
  .timer-block .item {
    display: flex;
    flex-direction: column; }
  .timer-block .colon {
    height: 20px;
    margin: 0px 10px;
    margin-bottom: 13px; }
    .timer-block .colon .doto {
      max-width: 4.26px;
      max-height: 4.26px;
      width: unset;
      height: unset;
      border-radius: 4.26px; } }

.progressbar .progress {
  color: #3F5193;
  background-color: #F7F7F7;
  border: #3F5193 1px solid;
  font-family: Roboto; }
.progressbar .pointer {
  margin-top: -16px !important;
  background-color: #3F5193; }
.progressbar .bar {
  background-color: rgba(63, 81, 147, 0.3); }
.progressbar .members {
  color: #7385C9;
  font-family: Roboto; }

h1.widget-title {
  display: none; }

.header {
  z-index: 5;
  position: fixed;
  padding: 0px 16px;
  padding-top: 10px;
  margin: 0;
  height: auto;
  background-color: #2F3236;
  margin-top: -1px;
  width: 100%; }
  .header .wraper-container {
    width: 100%;
    margin: 0;
    height: auto;
    max-width: 1248px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #2F3236;
    text-align: center; }
    .header .wraper-container #qtranslate-2 .www {
      width: 20px;
      display: block;
      padding: 2px; }
      @media (max-width: 425px) {
        .header .wraper-container #qtranslate-2 .www {
          display: none !important; } }
    .header .wraper-container #qtranslate-2 .menu-dot {
      display: inherit;
      width: 2px;
      height: 2px;
      background: #FFFFFF;
      transition: 0.2s linear;
      margin-right: 3px; }
    .header .wraper-container #qtranslate-2 .lang-list-item {
      display: list-item;
      list-style-type: none; }
      .header .wraper-container #qtranslate-2 .lang-list-item .languages-menu-list {
        display: list-item;
        width: 100%;
        list-style-type: none;
        position: absolute;
        left: 0;
        background-color: #fff;
        margin-top: 9px;
        z-index: 3;
        height: auto;
        box-shadow: 0 -3px 50px 0 rgba(0, 0, 0, 0.75); }
        .header .wraper-container #qtranslate-2 .lang-list-item .languages-menu-list #qtranslate-2-chooser {
          width: 242px;
          height: 101px;
          margin: auto;
          display: flex !important;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          transition: .3s linear;
          max-height: 0px;
          opacity: 0;
          flex-wrap: nowrap;
          overflow: hidden; }
          @media (max-width: 745px) {
            .header .wraper-container #qtranslate-2 .lang-list-item .languages-menu-list #qtranslate-2-chooser {
              max-width: calc(100% - 32px); } }
          .header .wraper-container #qtranslate-2 .lang-list-item .languages-menu-list #qtranslate-2-chooser li {
            height: 101px;
            display: flex;
            padding-top: 20px;
            border-bottom: #fff 2px solid;
            min-width: 60px;
            justify-content: center; }
            .header .wraper-container #qtranslate-2 .lang-list-item .languages-menu-list #qtranslate-2-chooser li a {
              color: #2F3236;
              text-decoration: none;
              font-size: 12px;
              line-height: 16px;
              display: flex;
              align-items: center;
              flex-direction: column; }
              .header .wraper-container #qtranslate-2 .lang-list-item .languages-menu-list #qtranslate-2-chooser li a p {
                font-size: 10px;
                line-height: 14px;
                opacity: 0; }
            .header .wraper-container #qtranslate-2 .lang-list-item .languages-menu-list #qtranslate-2-chooser li .soon-lang span, .header .wraper-container #qtranslate-2 .lang-list-item .languages-menu-list #qtranslate-2-chooser li .soon-lang p {
              opacity: .54 !important; }
          .header .wraper-container #qtranslate-2 .lang-list-item .languages-menu-list #qtranslate-2-chooser li:hover {
            border-bottom: #D8AD4C 2px solid; }
          .header .wraper-container #qtranslate-2 .lang-list-item .languages-menu-list #qtranslate-2-chooser .active {
            display: none; }
    .header .wraper-container #qtranslate-2:hover .www {
      opacity: .54; }
    .header .wraper-container #qtranslate-2:hover select {
      opacity: .54; }
    .header .wraper-container #qtranslate-2:hover .menu-dot {
      opacity: .54; }
    .header .wraper-container #qtranslate-2:hover #lang-open {
      cursor: pointer; }
    .header .wraper-container .lang-open:hover .menu-dot {
      opacity: 1 !important; }
    .header .wraper-container .lang-open .menu-dot {
      background: #C7AA69 !important; }
    .header .wraper-container .lang-open .www {
      opacity: .54; }
    .header .wraper-container .lang-open .lang-list-item .languages-menu-list {
      transition: .3s linear; }
      .header .wraper-container .lang-open .lang-list-item .languages-menu-list #qtranslate-2-chooser {
        max-height: 101px !important;
        transition: .3s linear !important;
        opacity: 100 !important; }
    .header .wraper-container .lang-open #qtranxs_select_qtranslate-2-chooser {
      color: #fff; }
    .header .wraper-container .lang-open select {
      opacity: 0.54; }
    .header .wraper-container .active-page {
      color: #D8AD4C; }
    .header .wraper-container .custom-logo .logo {
      width: 130px;
      height: 30px;
      background-image: url(/wp-content/uploads/2018/04/main-logo.svg);
      background-repeat: no-repeat;
      transition: .2s linear; }
    .header .wraper-container .reg-box {
      display: list-item;
      list-style-type: none; }
      .header .wraper-container .reg-box .reg-menu {
        left: 0;
        margin-top: 25px;
        -webkit-box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.75);
        width: 100%;
        position: absolute;
        background: white;
        transition: .4s linear;
        max-height: 0px;
        opacity: 0;
        overflow: hidden; }
        .header .wraper-container .reg-box .reg-menu .gen-form {
          width: 500px;
          padding-top: 30px; }
          .header .wraper-container .reg-box .reg-menu .gen-form .nf-form-cont .nf-response-msg > p {
            color: #2F3236; }
          .header .wraper-container .reg-box .reg-menu .gen-form .nf-form-cont nf-fields-wrap {
            display: flex;
            flex-wrap: wrap; }
            .header .wraper-container .reg-box .reg-menu .gen-form .nf-form-cont nf-fields-wrap > nf-field:first-child {
              flex: 1;
              margin-right: 32px; }
              .header .wraper-container .reg-box .reg-menu .gen-form .nf-form-cont nf-fields-wrap > nf-field:first-child input {
                border-radius: 40px;
                height: 44px;
                padding-left: 15px;
                font-size: 14px; }
              .header .wraper-container .reg-box .reg-menu .gen-form .nf-form-cont nf-fields-wrap > nf-field:first-child .nf-after-field .nf-error-msg {
                margin-left: 15px;
                margin-right: 0;
                text-align: left; }
            .header .wraper-container .reg-box .reg-menu .gen-form .nf-form-cont nf-fields-wrap > nf-field:last-child input {
              height: 44px;
              font-family: 'Roboto Medium';
              font-size: 15px;
              width: 100%; }
          @media only screen and (max-width: 991px) {
            .header .wraper-container .reg-box .reg-menu .gen-form {
              padding-top: 22px;
              padding-left: 15px;
              padding-right: 15px;
              width: 100%;
              border-bottom: 1px solid #95989A;
              background-color: #F7F7F7; } }
          @media only screen and (max-width: 639px) {
            .header .wraper-container .reg-box .reg-menu .gen-form .nf-form-cont nf-fields-wrap > nf-field:first-child {
              margin-right: 0;
              width: 100%;
              flex: none; }
            .header .wraper-container .reg-box .reg-menu .gen-form .nf-form-cont nf-fields-wrap > nf-field:last-child {
              width: 100%; } }
          .header .wraper-container .reg-box .reg-menu .gen-form .nf-form-cont .nf-after-form-content {
            display: none; }
        .header .wraper-container .reg-box .reg-menu .timer-wrapper {
          display: flex;
          flex-wrap: wrap;
          margin: 0 auto;
          max-width: 1248px;
          padding-left: 15px;
          padding-right: 15px; }
          @media only screen and (max-width: 991px) {
            .header .wraper-container .reg-box .reg-menu .timer-wrapper {
              padding-left: 0;
              padding-right: 0; } }
        .header .wraper-container .reg-box .reg-menu .time-info {
          display: flex;
          align-items: center;
          justify-content: center;
          height: auto;
          margin-right: auto; }
          @media only screen and (max-width: 991px) {
            .header .wraper-container .reg-box .reg-menu .time-info {
              margin-left: auto;
              order: 2; } }
          .header .wraper-container .reg-box .reg-menu .time-info .time {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            color: #2F3236;
            margin: 15.1px;
            margin-top: 13px;
            margin-bottom: 15.1px;
            margin-left: 0px; }
            .header .wraper-container .reg-box .reg-menu .time-info .time .small-text {
              font-size: 12px;
              line-height: 18px;
              font-family: Roboto; }
            .header .wraper-container .reg-box .reg-menu .time-info .time .timer-block {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-around;
              width: 100%;
              width: -webkit-fill-available;
              width: -moz-available; }
              .header .wraper-container .reg-box .reg-menu .time-info .time .timer-block .item {
                width: 46px; }
                .header .wraper-container .reg-box .reg-menu .time-info .time .timer-block .item .numb {
                  font-size: 36px;
                  line-height: 36px; }
              .header .wraper-container .reg-box .reg-menu .time-info .time .timer-block .colon {
                height: 19px;
                margin-bottom: 17px !important; }
                .header .wraper-container .reg-box .reg-menu .time-info .time .timer-block .colon .doto {
                  width: 4px;
                  height: 4px;
                  border-radius: 4px;
                  border: 1px solid #2F3236; }
                @media (max-width: 525px) {
                  .header .wraper-container .reg-box .reg-menu .time-info .time .timer-block .colon .doto {
                    max-width: 2px;
                    max-height: 2px;
                    border-radius: 2px;
                    border: 2px solid #2F3236; } }
              .header .wraper-container .reg-box .reg-menu .time-info .time .timer-block .separator {
                margin-bottom: 15px !important; }
          .header .wraper-container .reg-box .reg-menu .time-info .info {
            cursor: pointer;
            margin-left: 18.1px;
            width: 20px;
            height: 20px;
            display: none; }
        .header .wraper-container .reg-box .reg-menu .prog-bar-visible {
          display: block !important;
          max-height: 88px !important;
          opacity: 100 !important;
          margin-bottom: 35px; }
        .header .wraper-container .reg-box .reg-menu .progressbar {
          position: relative;
          order: 3;
          margin-bottom: calc((100vh - (173.5px + 50.5px + 118px + 77px)) / 2); }
          .header .wraper-container .reg-box .reg-menu .progressbar .progress {
            width: calc(100vw - 32px);
            height: 31px;
            border-radius: 31px;
            margin-bottom: 6px;
            font-size: 12px;
            margin-left: auto;
            margin-right: auto; }
            .header .wraper-container .reg-box .reg-menu .progressbar .progress .percent50 {
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 33.3%;
              height: 31px;
              border-right: 1px solid #95989A; }
            .header .wraper-container .reg-box .reg-menu .progressbar .progress .percent30 {
              position: absolute;
              padding-left: 33.3%;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 66.6%;
              height: 31px;
              border-right: 1px solid #95989A; }
            .header .wraper-container .reg-box .reg-menu .progressbar .progress .percent15 {
              position: absolute;
              padding-left: 66.6%;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 31px; }
            .header .wraper-container .reg-box .reg-menu .progressbar .progress .bar {
              height: 31px; }
              .header .wraper-container .reg-box .reg-menu .progressbar .progress .bar .pointer {
                position: absolute;
                margin-right: 0 !important;
                margin-bottom: 0 !important;
                width: 7px;
                height: 7px;
                transform: rotate(45deg); }
          .header .wraper-container .reg-box .reg-menu .progressbar .members {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100vw - 32px);
            font-size: 12px;
            margin-bottom: 16px;
            margin-left: auto;
            margin-right: auto; }
            .header .wraper-container .reg-box .reg-menu .progressbar .members .first {
              text-align: left; }
            .header .wraper-container .reg-box .reg-menu .progressbar .members .last {
              text-align: right; }
            .header .wraper-container .reg-box .reg-menu .progressbar .members span {
              width: 27px;
              line-height: 12px;
              text-align: center; }
    .header .wraper-container .open-reg-menu {
      transition: .4s linear;
      max-height: 700px !important;
      opacity: 100 !important; }
    .header .wraper-container #qtranslate-2 {
      margin: 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 48px;
      overflow: hidden;
      cursor: pointer; }
      .header .wraper-container #qtranslate-2 .sec-lang-bl {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center; }
      .header .wraper-container #qtranslate-2 .select-wrap {
        overflow: hidden; }
        .header .wraper-container #qtranslate-2 .select-wrap .lang-opener {
          position: absolute;
          width: 48px;
          height: 32px;
          z-index: 10; }
          @media (min-width: 426px) {
            .header .wraper-container #qtranslate-2 .select-wrap .lang-opener {
              width: 36px; } }
      .header .wraper-container #qtranslate-2 #qtranxs_select_qtranslate-2-chooser {
        cursor: pointer;
        padding: 0 10px;
        display: flex;
        align-items: center;
        min-height: 29px; }
        @media (min-width: 426px) {
          .header .wraper-container #qtranslate-2 #qtranxs_select_qtranslate-2-chooser {
            padding: 0 2.5px; } }
    .header .wraper-container #qtranxs_select_qtranslate-2-chooser {
      height: 29px;
      color: #fff;
      overflow: hidden;
      -webkit-appearance: none;
      -moz-appearance: none;
      font-family: Roboto;
      font-size: 14px;
      border: none;
      background: #2F3236; }
    .header .wraper-container #qtranxs_select_qtranslate-2-chooser::-ms-expand {
      display: none; }
    .header .wraper-container .menu-topmenu-container {
      order: 3;
      width: 100vw;
      width: -webkit-fill-available;
      width: -moz-available;
      justify-content: center;
      display: flex;
      margin: 0px;
      margin-top: 10.5px;
      border-top: 1px solid rgba(149, 152, 154, 0.3); }
      .header .wraper-container .menu-topmenu-container .menu {
        align-items: center;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-padding-start: 0;
        flex-wrap: wrap;
        width: 100vw;
        width: -webkit-fill-available;
        width: -moz-available; }
        .header .wraper-container .menu-topmenu-container .menu .to-start .header-swiper .sub-menu {
          justify-content: space-between;
          margin: 0 auto;
          width: 422px; }
          .header .wraper-container .menu-topmenu-container .menu .to-start .header-swiper .sub-menu li {
            max-width: 95px !important;
            min-width: 95px !important; }
        .header .wraper-container .menu-topmenu-container .menu .sub-slide {
          height: unset !important;
          width: unset !important; }
        @media (max-width: 538px) {
          .header .wraper-container .menu-topmenu-container .menu .to-start .sub-menu {
            justify-content: unset; } }
        @media (max-width: 756px) {
          .header .wraper-container .menu-topmenu-container .menu .to-know .sub-menu {
            justify-content: unset; } }
        .header .wraper-container .menu-topmenu-container .menu .sub-menu {
          flex-wrap: nowrap;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          align-items: center;
          justify-content: space-around; }
          .header .wraper-container .menu-topmenu-container .menu .sub-menu .active {
            opacity: 1 !important; }
        .header .wraper-container .menu-topmenu-container .menu .header-swiper {
          transition: .4s linear;
          max-height: 0px;
          overflow: hidden;
          left: 0;
          margin-top: 8px;
          padding-left: calc((100% - 784px) / 2);
          padding-right: calc((100% - 784px) / 2);
          position: absolute;
          background: white;
          width: 100%;
          opacity: 0;
          -webkit-box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.75); }
          .header .wraper-container .menu-topmenu-container .menu .header-swiper .swiper-button-disabled {
            display: none !important; }
          .header .wraper-container .menu-topmenu-container .menu .header-swiper .hed-right {
            background-color: rgba(255, 255, 255, 0.8);
            position: absolute;
            left: 0px;
            color: #2F3236;
            font-size: 11.11px;
            z-index: 100;
            display: none;
            height: 73%;
            align-items: center;
            margin: 1em 0;
            padding: 0 5px;
            border-right: rgba(149, 152, 154, 0.54) solid 1px; }
          .header .wraper-container .menu-topmenu-container .menu .header-swiper .hed-left {
            background-color: rgba(255, 255, 255, 0.8);
            position: absolute;
            right: 0px;
            color: #2F3236;
            font-size: 11.11px;
            z-index: 100;
            display: none;
            height: 73%;
            align-items: center;
            margin: 1em 0;
            padding: 0 5px;
            border-left: rgba(149, 152, 154, 0.54) solid 1px; }
          @media (max-width: 800px) {
            .header .wraper-container .menu-topmenu-container .menu .header-swiper .hed-right {
              display: flex; }
            .header .wraper-container .menu-topmenu-container .menu .header-swiper .hed-left {
              display: flex; } }
        .header .wraper-container .menu-topmenu-container .menu .open-drop-down {
          max-height: 125px;
          transition: 0.3s linear;
          overflow: hidden;
          flex-wrap: nowrap;
          justify-content: unset;
          opacity: 100; }
          .header .wraper-container .menu-topmenu-container .menu .open-drop-down li {
            min-width: 150px;
            max-width: 150px; }
            .header .wraper-container .menu-topmenu-container .menu .open-drop-down li a {
              color: #2F3236; }
        .header .wraper-container .menu-topmenu-container .menu .swiper-wrapper {
          height: 115px !important; }
        .header .wraper-container .menu-topmenu-container .menu .menu-item {
          color: white;
          margin: 10.5px 5px;
          font-size: 12px;
          transition: 0.2s linear; }
          .header .wraper-container .menu-topmenu-container .menu .menu-item a {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.2s linear; }
            .header .wraper-container .menu-topmenu-container .menu .menu-item a .menu-dot {
              display: inherit;
              width: 2px;
              height: 2px;
              background: #FFFFFF;
              transition: 0.2s linear; }
          .header .wraper-container .menu-topmenu-container .menu .menu-item .know-item {
            color: #2F3236;
            transition: 0.2s linear;
            padding: 15px 0px;
            border-bottom: #fff 2px solid;
            height: 100%; }
            .header .wraper-container .menu-topmenu-container .menu .menu-item .know-item .ring {
              border: none; }
          .header .wraper-container .menu-topmenu-container .menu .menu-item .active-page {
            color: #D8AD4C !important; }
          .header .wraper-container .menu-topmenu-container .menu .menu-item .start-item {
            color: #2F3236;
            transition: 0.2s linear;
            padding: 20px 0px;
            border-bottom: #fff 2px solid;
            height: 100%; }
            .header .wraper-container .menu-topmenu-container .menu .menu-item .start-item .ring {
              border: none; }
          .header .wraper-container .menu-topmenu-container .menu .menu-item .know-item:hover, .header .wraper-container .menu-topmenu-container .menu .menu-item .start-item:hover {
            border-bottom: #D8AD4C 2px solid; }
          .header .wraper-container .menu-topmenu-container .menu .menu-item .know-item:active, .header .wraper-container .menu-topmenu-container .menu .menu-item .start-item:active {
            background-color: #F7F7F7;
            border-bottom: #D8AD4C 2px solid; }
        .header .wraper-container .menu-topmenu-container .menu .menu-item:hover #menu-link-76, .header .wraper-container .menu-topmenu-container .menu .menu-item:hover #menu-link-17, .header .wraper-container .menu-topmenu-container .menu .menu-item:hover #menu-link-45 {
          color: rgba(255, 255, 255, 0.54); }
          .header .wraper-container .menu-topmenu-container .menu .menu-item:hover #menu-link-76 .menu-dot, .header .wraper-container .menu-topmenu-container .menu .menu-item:hover #menu-link-17 .menu-dot, .header .wraper-container .menu-topmenu-container .menu .menu-item:hover #menu-link-45 .menu-dot {
            opacity: 0.54; }
        .header .wraper-container .menu-topmenu-container .menu .menu-item:active #menu-link-76, .header .wraper-container .menu-topmenu-container .menu .menu-item:active #menu-link-17, .header .wraper-container .menu-topmenu-container .menu .menu-item:active #menu-link-45 {
          color: rgba(255, 255, 255, 0.54); }
          .header .wraper-container .menu-topmenu-container .menu .menu-item:active #menu-link-76 .menu-dot, .header .wraper-container .menu-topmenu-container .menu .menu-item:active #menu-link-17 .menu-dot, .header .wraper-container .menu-topmenu-container .menu .menu-item:active #menu-link-45 .menu-dot {
            opacity: 0.54; }
        .header .wraper-container .menu-topmenu-container .menu .menu-item .link-active {
          color: rgba(255, 255, 255, 0.54); }
          .header .wraper-container .menu-topmenu-container .menu .menu-item .link-active .menu-dot {
            background: #C7AA69;
            opacity: 1 !important; }
        .header .wraper-container .menu-topmenu-container .menu .menu-item a {
          color: white;
          cursor: pointer;
          text-decoration: none;
          font-size: 14px;
          font-family: Roboto; }
    .header .wraper-container .custom-logo {
      display: flex;
      order: 1; }
    .header .wraper-container .header-sidebar {
      order: 2;
      color: white;
      font-family: Roboto;
      display: flex;
      text-align: center;
      align-items: center; }
      .header .wraper-container .header-sidebar .progressbar .pointer {
        display: none; }
      .header .wraper-container .header-sidebar .prog-bar-visible .pointer {
        display: block !important; }
      .header .wraper-container .header-sidebar #header-btn {
        position: relative;
        height: 30px;
        width: 120px;
        border-radius: 30px;
        font-size: 14px;
        margin-left: -2px;
        margin-top: -2px;
        padding: 0px !important;
        position: relative; }
        .header .wraper-container .header-sidebar #header-btn .close {
          -webkit-transition: width 1s;
          transition: width 1s;
          width: 9.07px;
          height: 9.07px;
          display: none; }
        .header .wraper-container .header-sidebar #header-btn span {
          display: inline; }
      .header .wraper-container .header-sidebar .btn-background {
        width: 120px;
        height: 30px;
        border-radius: 30px;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.3); }
    .header .wraper-container .i-want-to-start, .header .wraper-container .i-want-to-know {
      display: none; }
    .header .wraper-container .arrow-rev {
      padding-right: 9px;
      padding-left: 0px !important;
      transform: rotate(180deg); }
    .header .wraper-container .i-want-to {
      -webkit-box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.75);
      margin-bottom: 5vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
    .header .wraper-container .start-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap; }
    .header .wraper-container .know-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap; }
    .header .wraper-container .start-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
    .header .wraper-container .know-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
    .header .wraper-container .soon {
      opacity: 0.5; }
      .header .wraper-container .soon .soon-par {
        font-size: 10px !important;
        line-height: 14px !important; }
    .header .wraper-container .start-item p {
      font-size: 12px !important;
      line-height: 18px !important;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em; }
    .header .wraper-container .know-item p {
      font-size: 12px !important;
      line-height: 15px !important;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em; }
    .header .wraper-container .ring {
      margin-bottom: 8px;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      -moz-border-radius: 30px;
      -webkit-border-radius: 30px;
      border: 1px solid #dadada;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header .wraper-container .ring img {
        min-width: 30px;
        max-width: 30px;
        height: 30px; }
      .header .wraper-container .ring .active-img {
        filter: invert(50%) sepia(300%) saturate(300%); }
    .header .wraper-container .visible {
      display: none !important; }
    .header .wraper-container .menu-main-header-container {
      margin: auto; }

.backghound-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  border: 1px solid #95989A;
  display: none;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: -1; }

@media (min-width: 769px) {
  .open-drop-down {
    justify-content: space-around !important; } }
@media (min-width: 745px) {
  .header {
    padding: 0;
    width: 100%; }
    .header .wraper-container {
      height: 50px;
      max-width: 1248px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 16px; }
      .header .wraper-container .custom-logo {
        order: 1; }
      .header .wraper-container .menu-topmenu-container {
        order: 2;
        width: 292px;
        margin: 0px;
        border-top: none; }
      .header .wraper-container .header-sidebar {
        order: 3; }
        .header .wraper-container .header-sidebar .btn-background {
          margin-left: 29.9px; }
    .header .reg-box .reg-menu .progressbar .progress {
      width: calc(100vw - 64px);
      max-width: 1228px;
      position: relative; }
    .header .reg-box .reg-menu .progressbar .members {
      width: calc(100vw - 64px);
      max-width: 1228px; } }
@media (max-width: 580px) {
  .visible {
    display: block !important;
    -webkit-transition: .4s !important;
    transition: .4s !important;
    z-index: 2 !important;
    opacity: 0.34 !important; } }
@media (min-width: 426px) {
  .header .wraper-container .active {
    opacity: .54; }
  .header .wraper-container .menu-topmenu-container .menu {
    margin: 0;
    width: 100%;
    max-width: 1280px;
    margin-right: auto; }
    .header .wraper-container .menu-topmenu-container .menu .menu-item {
      margin: 10.5px 6px; }
  .header .wraper-container .i-want-to-start, .header .wraper-container .i-want-to-know {
    height: 6.11px;
    padding-left: 9px;
    display: inherit; }
  .header .wraper-container .header-swiper {
    margin-top: 11px !important; }
  .header .wraper-container .reg-box .reg-menu .time-info .info {
    display: block; }
  .header .wraper-container .reg-box .reg-menu .reg-separator {
    width: 100vw;
    height: 1px;
    background-color: #95989A;
    order: 3;
    transition: .2s linear;
    max-height: 0;
    opacity: 0;
    overflow: hidden; } }
  @media only screen and (min-width: 426px) and (max-width: 991px) {
    .header .wraper-container .reg-box .reg-menu .reg-separator {
      background-color: transparent; } }
@media (min-width: 426px) {
  .header .wraper-container .reg-box .reg-menu .progressbar {
    margin-bottom: 0px;
    transition: .4s linear;
    max-height: 0;
    opacity: 0; }
    .header .wraper-container .reg-box .reg-menu .progressbar .progress {
      width: calc(100vw - 64px);
      max-width: 1228px;
      height: 33px;
      border-radius: 33px;
      margin-bottom: 8px;
      font-size: 14px;
      position: relative; }
    .header .wraper-container .reg-box .reg-menu .progressbar .members {
      margin-bottom: 15px;
      font-size: 14px;
      width: calc(100vw - 64px);
      max-width: 1228px; } }
.footer {
  background-color: #F7F7F7; }
  .footer .container {
    max-width: 1248px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 50px;
    padding-bottom: 40px; }
  .footer .footer-row1 {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #95989A; }
    .footer .footer-row1 .f-logo {
      margin-bottom: 15px;
      margin-right: auto; }
      .footer .footer-row1 .f-logo img {
        width: 80px;
        height: 30px; }
    .footer .footer-row1 .footer-menu {
      margin-left: 40px;
      display: flex;
      flex-wrap: wrap; }
      .footer .footer-row1 .footer-menu li {
        margin-left: 36px; }
        .footer .footer-row1 .footer-menu li:first-of-type {
          margin-left: 0; }
      .footer .footer-row1 .footer-menu a {
        color: #000;
        font-family: 'Roboto';
        font-size: 14px;
        text-decoration: none; }
        .footer .footer-row1 .footer-menu a:hover {
          color: #3F5193; }
        .footer .footer-row1 .footer-menu a:active {
          color: #27366E; }
  .footer .footer-row2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 15px; }
    .footer .footer-row2 .copyright {
      font-family: 'Roboto';
      font-size: 12px;
      width: 340px; }
    .footer .footer-row2 .massagers, .footer .footer-row2 .social {
      display: flex; }
      .footer .footer-row2 .massagers img, .footer .footer-row2 .social img {
        height: 22px; }
      .footer .footer-row2 .massagers i, .footer .footer-row2 .social i {
        color: #3F5193;
        font-size: 25px; }
      .footer .footer-row2 .massagers a, .footer .footer-row2 .social a {
        margin-left: 25px;
        margin-top: 7px;
        margin-bottom: 2px;
        position: relative; }
      .footer .footer-row2 .massagers a:before, .footer .footer-row2 .social a:before {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        border-radius: 20px;
        margin-top: -20px;
        margin-left: -20px;
        top: 40%;
        left: 50%; }
      .footer .footer-row2 .massagers a:hover:before, .footer .footer-row2 .social a:hover:before {
        background-color: rgba(63, 81, 147, 0.2); }
      .footer .footer-row2 .massagers a:active:before, .footer .footer-row2 .social a:active:before {
        background-color: rgba(63, 81, 147, 0.4); }
    .footer .footer-row2 .massagers {
      margin-left: auto;
      border-right: 1px solid #95989A; }
      .footer .footer-row2 .massagers a {
        margin-right: 25px; }
    @media (max-width: 1366px) {
      .footer .footer-row2 .social {
        margin-right: 85px; } }
  @media (max-width: 1199px) {
    .footer .container {
      padding-left: 15px;
      padding-right: 15px; } }
  @media only screen and (max-width: 1050px) {
    .footer {
      flex-grow: 1;
      justify-content: space-between; }
      .footer .footer-row1 .footer-menu {
        flex-direction: column;
        width: 100%;
        margin-left: 0; }
        .footer .footer-row1 .footer-menu li {
          margin-left: 0;
          margin-bottom: 5px; } }
  @media only screen and (max-width: 767px) {
    .footer .footer-row2 .copyright {
      width: 100%;
      order: 1;
      margin-top: 15px; }
    .footer .footer-row2 .massagers {
      margin-left: 0; } }

/*# sourceMappingURL=style.css.map */
