.footer
    .container
        .footer-row1
            .f-logo
                a(href="<?php echo home_url()?>")
                    img(src="<?php bloginfo('template_url') ?>/images/logo-footer.svg")
            :php
                wp_nav_menu(array(
                    'theme_location' => 'footer-nav',
                    'container' => false,
                    'items_wrap' => '<ul id="%1$s" class="%2$s">%3$s</ul>',
                    'menu_class' => 'footer-menu',
                    'menu_id' => '',
                    'depth' => 0
                ));
        .footer-row2
            .copyright
                | Copyright ©  NETOPAY Group LLC, 2018  All rights reserved
                | For company information and other legal bits, see our 
                a(href="/imprint") Imprint
            .massagers
                //- a(href="#" target="_blank")
                //-     i.fa.fa-skype(aria-hidden="true")
                //- a(href="https://www.messenger.com/t/quantcoin2017" target="_blank")
                //-     img(src="<?php bloginfo('template_url') ?>/images/m-messenger.png")    
            .social
                //- a(href="https://www.instagram.com/quantcoin2017" target="_blank")
                //-     i.fa.fa-instagram(aria-hidden="true")
                a(href="https://www.facebook.com/quantcoin2017" target="_blank")
                    i.fa.fa-facebook(aria-hidden="true")
                //- a(href="https://www.youtube.com/channel/UCptIv_8sQKUg7X6Faw1ERvg?view_as=subscriber" target="_blank")
                //-     i.fa.fa-youtube-play(aria-hidden="true")
                a(href="https://twitter.com/Quant_Coin" target="_blank") 
                    i.fa.fa-twitter(aria-hidden="true")