.header
  .wraper-container
    a.custom-logo(href="<?php echo home_url()?>")
      .logo
    - wp_nav_menu( array('menu' => 'main-nav', 'theme_location' => 'main-nav', 'walker' => new UIKIT_Walker, 'items_wrap' => '<ul id="%1$s" class="%2$s">%3$s</ul>') );
    .header-sidebar
      - dynamic_sidebar( 'header' );
      .btn-background
        button#header-btn.transp-btn 
          img.close(src="/wp-content/uploads/2018/01/close-1.png")
          span Регистрация
      .reg-box
        .reg-menu
          .timer-wrapper
            .time-info
              .time
                p.small-text Регистируйся и полуйчай скидку на приложение
                .timer-block
                  .day.item
                      .numb.days
                      .small-text Дней
                  .separator 
                  .item
                      .numb.hours
                      .small-text Часов
                  .colon
                    .doto
                    .doto
                  .item
                      .numb.minutes
                      .small-text Минут
                  .colon
                    .doto
                    .doto
                  .item
                      .numb.seconds
                      .small-text Секунд
              img.info(src='/wp-content/uploads/2018/02/information.png')
            .gen-form
              :php
                if (get_locale() == "ru_RU"){
                  echo do_shortcode('[ninja_form id=6]');
                }
                if (get_locale() == "en_US"){
                  echo do_shortcode('[ninja_form id=9]');
                }
                if (get_locale() == "de_DE"){
                  echo do_shortcode('[ninja_form id=12]');
                }
                if (get_locale() == "zh_CN"){
                  echo do_shortcode('[ninja_form id=15]');
                }
          .reg-separator
          .progressbar
            .progress
                .percent50 50%
                .percent30 30%
                .percent15 15%
                .bar
                    .pointer
            .members
                span.first 0 чел
                span 200 чел
                span 500 чел
                span.last 1000 чел
.backghound-shadow