doctype
html(lang='ru')

head
  meta(charset="UTF-8")
  //- title= wp_title('')
  <title><?php if ( is_front_page() && is_home() ) { echo 'Home'; } elseif (is_home () ){ echo 'Home';} elseif ( is_front_page() ){ echo 'Home';}  else {wp_title('',true);} ?></title>
  meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1')
  - wp_head();

body(class="<?php is_front_page(); is_user_logged_in(); ?>")  
  noscript
  //- .body-wrapper.uk-container-center
  .preloader
    .container
      .icon-one-coin
        img(src="/wp-content/uploads/2018/02/iqc.png")
      .loading-text
        span.loading-text-words L
        span.loading-text-words O
        span.loading-text-words A
        span.loading-text-words D
        span.loading-text-words I
        span.loading-text-words N
        span.loading-text-words G

  - get_header()
  .content-wrapper
    block content
  - get_footer()
  - wp_footer()
