extends layout

block content
  :php
    while ( have_posts() ) : the_post();
       the_content();
    endwhile;
    $blocks = get_field('blocks');
    foreach ($blocks as $block) {
        setup_postdata( $block );
        echo "<script>";
        echo get_field('js_code',  $block->ID, false);
        echo "</script>";
        echo "<style>";
        echo get_field('css_code',  $block->ID, false);
        echo "</style>";
        echo "<div class='".get_field('block_type',  $block->ID)."'>";
        $content_post = get_post($block->ID);
        $content = $content_post->post_content;
        $content = do_shortcode($content);
        echo $content;
        echo "</div>";
    }
